body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
    font-size: 1rem;
}

/* column boxes */
.box {
    padding: 3%;
    text-align: left;
}

/* container */
.container-fluid {
    padding: 7% 15%;
}

/* sections */
.white-section {
    background-color: #fff;
}

.colored-section {
    color: #fff;
    background-color: #3975E6;
}

/* headings */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }

.sub-heading {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}

/* navigation bar */

.navbar {
    padding: 0 10%;
    /* background-color:#83A8EE; */
    /* background-color: #9CBCF0; */
    background-color: #3234FC;
  }
  
.navbar-brand {
font-family: 'Ubuntu';
font-size: 2.5rem;
}

.nav-item {
padding: 0 18px;
}

.nav-link {
font-size: 1.2rem;
font-weight: 300;
}

/* title */
#title .container-fluid {
    padding: 20% 15% 10%;
}

#title p {
    color: #fff;
}

.profile-img {
    width: 20%;
}

/* buttons */
a {
    margin: 5% 3% 5% 0;
    color: #fff;
    text-decoration: none;
  }

a:hover {
    color: #000;
}
/* about */
.profile-img {
    width: 20%;
}

.about-desc {
    text-align: justify;
    margin: auto;
    width: 70%;
}

/* skills */
#skills{
    background-color: #1B376B;
}

.skill-title {
    text-align: left;
}
.skill-text {
    color: #fff;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.skill-img {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

.skills-icon {
    margin: 7px;
}

/* projects */

#project .box {
    padding: 0;
    text-align: justify;
    margin: auto;
    width: 70%;
}

.project-title {
    text-align: left;
}

#project .button {
    margin-top: 0;
}

/* educations */
#education p{
    color: #fff;
}

/* experience */

/* contact */
.contact-icon {
    margin: 0 3% 5% 0;
}