body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
    font-size: 1rem;
}

/* column boxes */
.box {
    padding: 3%;
    text-align: left;
}

/* container */
.container-fluid {
    padding: 7% 15%;
}

/* sections */
.white-section {
    background-color: #fff;
}

.colored-section {
    color: #fff;
    background-color: #3975E6;
}

/* headings */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }

.sub-heading {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
}

/* navigation bar */

.navbar {
    padding: 0 10%;
    /* background-color:#83A8EE; */
    /* background-color: #9CBCF0; */
    background-color: #3975E6;
  }
  
.navbar-brand {
font-family: 'Ubuntu';
font-size: 2.5rem;
}

.nav-item {
padding: 0 10px;
}

.nav-link {
font-size: 1rem;
font-weight: 300;
}

/* title */
#title .container-fluid {
    padding: 20% 15% 10%;
}

#title p {
    color: #fff;
}

.profile-img {
    width: 20%;
}

/* buttons */
a {
    margin: 5% 3% 5% 0;
    color: #fff;
    text-decoration: none;
  }

#title nav a{
    margin: 0;
}

a:hover {
    color: #000;
}
/* about */
.profile-img {
    width: 20%;
}

.about-desc {
    text-align: justify;
    margin: auto;
    width: 70%;
}

/* skills */
#skills{
    background-color: #1B376B;
}

.skill-title {
    text-align: left;
}
.skill-text {
    color: #fff;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    /* word-spacing: -2rem; */
    /* word-break: break-all; */
    line-height: 1.5;
}

.skill-img {
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

.skills-icon {
    margin: 7px;
}

/* projects */

#project .box {
    padding: 0;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    margin: auto;
    width: 70%;
}

.project-title {
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    
}

#project .button {
    margin-top: 0;
}

/* educations */
#education {
    background-color: #1B376B;
}
#education p{
    color: #fff;
}

/* experience */



/* tablet */
@media (max-width: 768px) {
  .section-heading {
    font-size: 2rem;
  }

  .button {
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 700;
  }  

  .skills-icon {
    font-size: 4rem; 
  }

  #project .container-fluid {
    padding: 7% 0%;
  }

  #about .container-fluid {
    padding: 7% 0%;
  }
}

/* phone */
@media (max-width: 425px) {
    .section-heading {
        font-size: 1.5rem;
    }

    .big-heading {
        font-size: 2rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .sub-heading {
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    }  

    p {
        font-size: 0.8rem;
    }

    .skills-icon {
        font-size: 1.5rem; 
    }

    #project .container-fluid {
        padding: 7% 0%;
    }

    #about .container-fluid {
        padding: 7% 0%;
    }

    .button {
        font-size: 1rem;
    }
}


/* contact */
.contact-icon {
    margin: 0 3% 5% 0;
}